<!DOCTYPE html>
<html lang="en">
  <head>
    {# Meta #}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <title>{{ title }}</title>

    {# Favicon #}
    <link rel="icon" href="/assets/images/favicon.svg" type="image/x-icon" />

    {# Stylesheets #}
    <link rel="stylesheet" href="/assets/styles/prism-one-dark.css" />
    <link rel="stylesheet" href="/assets/styles/sloth.css" />
    <link rel="stylesheet" href="/assets/styles/docs.css" />

    {# Open Graph #}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />

    {# Firefox FOUC fix #}
    <script>let FF_FOUC_FIX;</script>

  </head>
  <body>
    {# Menu trigger #}
    <a class="menu-trigger text-muted" href="#nav">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
        <path d="M4 6l16 0" />
        <path d="M4 12l16 0" />
        <path d="M4 18l16 0" />
      </svg>
    </a>

    {# Global navigation #}
    <aside id="nav">
      <header>
        <div class="wordmark">
          <a href="/" class="flex">
            <img src="/assets/images/logo.svg" alt="Sloth.css" class="w-12 h-12 rounded-full" />
          </a>
          <div>
            <div class="text-xl font-semibold">Sloth.css</div>
            <div class="text-sm text-muted font-sans flex gap-2">v{{ meta.version }}</div>
          </div>
        </div>
        <div class="actions">
          <a href="{{ repoUrl }}" target="_blank" class="button hollow neutral sm">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
            GitHub
          </a>
          <a href="{{ donationUrl }}" target="_blank" class="button hollow sm">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
            Support
          </a>
        </div>
      </header>

      <nav>
        {% include 'menu.njk' %}
      </nav>
    </aside>

    {# Menu overlay #}
    <a class="menu-overlay" href="#"></a>

    {# Page content #}
    <main>
      <article id="content">
        <div>
          {% block content %}
            {{ content | safe }}
          {% endblock %}
        </div>
      </article>

      <footer>
        <hr />
        Made by <a href="{{ creatorUrl }}" target="_blank">devmount</a>.
        Provided under the <a href="{{ repoUrl }}/blob/main/LICENSE" target="_blank">MIT License</a>.
      </footer>
    </main>
    <script src="/assets/scripts/docs.js"></script>
  </body>
</html>
