<!DOCTYPE html>
<html lang="en">
  <head>
    {# Meta #}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <title>{{ title }}</title>

    {# Opt out of Turbo caching #}
    <meta name="turbo-cache-control">

    {# Stylesheets #}
    <link rel="stylesheet" href="/assets/styles/prism-one-dark.css" />
    <link rel="stylesheet" href="/assets/styles/sloth.css" />
    <link rel="stylesheet" href="/assets/styles/docs.css" />

    {# Favicons #}
    <link rel="icon" href="/assets/images/favicon.svg" type="image/x-icon" />

    {# Twitter Cards #}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="devmount" />

    {# OpenGraph #}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />

  </head>
  <body>
    {# Menu trigger #}
    <a class="menu-trigger text-muted" href="#navigation">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M4 6l16 0" />
        <path d="M4 12l16 0" />
        <path d="M4 18l16 0" />
      </svg>
    </a>

    {# Global navigation #}
    <aside id="navigation">
      <header>
        <a href="/">
          <img src="/assets/images/logo.svg" alt="Sloth.css" class="w-12 h-12 rounded-full" />
        </a>
        <div class="text-xl font-semibold">Sloth.css</div>
        <pre class="text-sm">DOCS</pre>
      </header>

      <nav>
        {% include 'menu.njk' %}
      </nav>
    </aside>

    {# Menu overlay #}
    <a class="menu-overlay" href="#"></a>

    {# Page content #}
    <main>
      <article id="content">
        <div>
          {% block content %}
            {{ content | safe }}
          {% endblock %}
        </div>
      </article>
    </main>
  </body>
</html>
