<ul>
  <li>
    <h2 class="text-lg">Getting Started</h2>
    <ul>
      <li><a href="/getting-started/installation">Installation</a></li>
      <li><a href="/getting-started/usage">Usage</a></li>
      <li><a href="/getting-started/customizing">Customizing</a></li>
      <li><a href="/getting-started/contributing">Contributing</a></li>
      <li><a href="/getting-started/changelog">Changelog</a></li>
    </ul>
  </li>
  <li>
    <h2 class="text-lg">Utilities</h2>
    <ul>
      {% for section in meta.utilitySections %}
        <li>
          <a href="/utilities/{{ section.name }}">
            {{ section.name | capitalize }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </li>
  <li>
    <h2 class="text-lg">Components</h2>
    <ul>
      {% for component in meta.components %}
        <li>
          <a href="/components/{{ component.name }}">
            {{ component.name | capitalize }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </li>
</ul>
