<ul>
  <li>
    <h2 class="text-lg flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3" />
        <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3" />
        <path d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
      </svg>
      <span>Getting Started</span>
    </h2>
    <ul>
      <li><a href="/getting-started/installation">Installation</a></li>
      <li><a href="/getting-started/usage">Usage</a></li>
      <li><a href="/getting-started/contributing">Contributing</a></li>
      <li><a href="/getting-started/changelog">Changelog</a></li>
    </ul>
  </li>
  <li>
    <h2 class="text-lg flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M6 17.6l-2 -1.1v-2.5" />
        <path d="M4 10v-2.5l2 -1.1" />
        <path d="M10 4.1l2 -1.1l2 1.1" />
        <path d="M18 6.4l2 1.1v2.5" />
        <path d="M20 14v2.5l-2 1.12" />
        <path d="M14 19.9l-2 1.1l-2 -1.1" />
        <path d="M12 12l2 -1.1" />
        <path d="M18 8.6l2 -1.1" />
        <path d="M12 12l0 2.5" />
        <path d="M12 18.5l0 2.5" />
        <path d="M12 12l-2 -1.12" />
        <path d="M6 8.6l-2 -1.1" />
      </svg>
      <span>Drop-in core</span>
    </h2>
    <ul>
      <li><a href="/core/typography">Typography</a></li>
      <li><a href="/core/embeds">Embeds</a></li>
      <li><a href="/core/form">Form</a></li>
    </ul>
  </li>
  <li>
    <h2 class="text-lg flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M7 10h3v-3l-3.5 -3.5a6 6 0 0 1 8 8l6 6a2 2 0 0 1 -3 3l-6 -6a6 6 0 0 1 -8 -8l3.5 3.5" />
      </svg>
      <span>Utilities</span>
    </h2>
    <ul>
      {% for section in meta.utilitySections %}
        <li>
          <a href="/utilities/{{ section }}">
            {{ section | capitalize }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </li>
  <li>
    <h2 class="text-lg flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M3.604 7.197l7.138 -3.109a.96 .96 0 0 1 1.27 .527l4.924 11.902a1 1 0 0 1 -.514 1.304l-7.137 3.109a.96 .96 0 0 1 -1.271 -.527l-4.924 -11.903a1 1 0 0 1 .514 -1.304z" />
        <path d="M15 4h1a1 1 0 0 1 1 1v3.5" />
        <path d="M20 6c.264 .112 .52 .217 .768 .315a1 1 0 0 1 .53 1.311l-2.298 5.374" />
      </svg>
      Components
    </h2>
    <ul>
      {% for component in meta.components %}
        <li>
          <a href="/components/{{ component }}">
            {{ component | capitalize }}
          </a>
        </li>
      {% endfor %}
      <li class="text-muted">More coming soon</li>
    </ul>
  </li>
</ul>
