html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

/* Page layout with collapsible sidebar menu (CSS only) */
body {
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;

  & > header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 15;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background-color: color-mix(in srgb, var(--color-bg-page) 75%, transparent);
    backdrop-filter: blur(10px);

    .menu-trigger {
      display: flex;
      top: 1rem;
      left: 1rem;
      padding: .5rem;
      transition: none;
      z-index: 1;
    }

    .controls {
      background-color: transparent;
      backdrop-filter: initial;
      margin: -1rem 1rem 0 0;
      padding: 1rem 0 0 0;
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
      display: flex;
      gap: 1rem;
      align-items: center;

      .theme-mode {
        display: flex;
        align-items: center;

        button:has(.icon:only-child) {
          color: var(--color-neutral);
          padding: .5rem;

          &.text-accent {
            color: var(--color-accent);
          }
        }
      }
    }
  }

  & > #search {
    display: none;
    position: fixed;
    width: calc(100% - 2rem);
    margin: 0 auto;
    max-width: var(--screen-sm);
    overflow: visible;
    background-color: var(--color-bg-base);
    z-index: 40;
    top: 10vh;
    left: 0;
    right: 0;
    border-radius: .25rem;
    box-shadow: black 0 .5rem 1.5rem -.8rem;

    input[type='search'] {
      font-size: 1.5rem;
      padding: 1.5rem;
      position: sticky;
      z-index: 45;
      top: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      width: 100%;
    }

    hr {
      margin: 0;
    }

    & > #result {
      max-height: 50vh;
      box-sizing: border-box;
      overflow-y: auto;
      padding-top: 1rem;
      padding-bottom: 2rem;

      & > .state {
        background-color: transparent;

        .icon {
          width: 4rem;
          height: 4rem;
        }
      }

      & > .entry {
        padding: .75rem 2rem;
        text-decoration: none;
        display: flex;
        gap: 1rem;
        align-items: center;

        &:hover {
          background-color: var(--color-border);
        }

        .icon {
          width: 2.5rem;
          height: 2.5rem;
          stroke-width: 1;
        }

        div:nth-child(2) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          h5 {
            margin-bottom: 0;
            text-transform: capitalize;
          }
        }
      }
    }

    &:target,
    &.active {
      display: block;

      & ~ aside ~ .menu-overlay {
        display: block;
        z-index: 25;
      }
    }
  }

  & > aside {
    background: var(--color-bg-base);
    position: fixed;
    width: 14rem;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    bottom: 0;
    top: 0;
    left: 0;
    height: 100vh;
    transition: var(--transition-transform);
    z-index: 20;
    transform: translateX(-100%);

    &:target,
    &.active {
      transform: translateX(0);

      & ~ .menu-overlay {
        display: block;
        z-index: 18;
      }
    }

    header {
      width: 11rem;
      padding: 1.5rem 1.5rem .5rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .wordmark {
        display: flex;
        align-items: center;
        gap: 1rem;
        code {
          font-size: .625rem;
        }
      }
      .actions {
        display: flex;
        align-items: center;
        gap: .75rem;

        a {
          flex-grow: 1;
        }
      }
    }
    
    nav {
      padding: 0 1.5rem 1.5rem 1.5rem;
      top: 3.5rem;

      ul {
        list-style: none;
        padding-left: 0;
        
        ul {
          padding: 0 0 .5rem 2rem;
          li {
            margin-bottom: .5rem;
          }
        }
      }
    } 
  }

  & > main {
    padding: 5rem 1rem 1rem 1rem;
    max-width: 1260px;
    width: 100%;
    box-sizing: border-box;
    transition: var(--transition-spacing);

    #content {
      position: relative;
      
      .toc {
        display: none;
        font-size: .875rem;
        position: absolute;
        top: 5rem;
        right: -16rem;
        width: 14rem;
        height: 100%;
        
        & > ul {
          position: sticky;
          top: 5rem;
          border-left: 1px solid var(--color-border);
          list-style-type: none;
          padding: .5rem 0 .5rem 1rem;
          
          ul {
            list-style-type: none;
            padding: 0;

            li {
              padding: .125rem 0;

              a {
                &:not(:hover) {
                  color: var(--color-text-muted);
                }
                
                &:hover {
                  text-decoration-style: dashed;
                }
              }
            }
          }
        }
      }
    }

    footer {
      margin: 4rem 0;
    }
  }

  & > .menu-overlay {
    position: fixed;
    background: #00000077;
    border: none;
    bottom: 0;
    display: none;
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0;
  }
}

/* Responsiveness */
@media (min-width: 1024px) {
  body {
    & > .menu-trigger {
      display: none;
    }

    & > aside {
      transform: none;
    }

    & > header {
      background-color: transparent;
      backdrop-filter: initial;

      .controls {
        padding: 1rem;
        background-color: color-mix(in srgb, var(--color-bg-page) 75%, transparent);
        backdrop-filter: blur(10px);
      }
    }

    & > main {
      padding-top: 2rem;
      padding-left: 18rem;
    }

    & > .menu-overlay {
      display: none;
    }
  }
}
@media (min-width: 1500px) {
  body > main #content .toc {
    display: block;
  }
}

/* Code examples */
.demo {
  padding: 1.5rem;
  margin-top: 1.5rem;
  border: 1px solid var(--color-border);
  border-bottom: none;
  border-radius: .5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;

  &::before {
    position: absolute;
    right: .5rem;
    text-transform: uppercase;
    font-size: .75rem;
    color: var(--color-text-muted);
    font-family: var(--font-mono);
  }

  &::before {
    content: 'demo';
    top: .25rem;
  }

  & + pre {
    margin-top: 0;
    margin-bottom: 2rem;
    border-radius: .5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &:has(+ pre) {
      margin-bottom: .5rem;
    }
  }

  & + pre + pre {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

pre[class^='language-'] {
  position: relative;
  max-height: 20rem;
  scrollbar-width: thin;

  &::before {
    content: 'code';
    top: .5rem;
    position: absolute;
    right: .5rem;
    text-transform: uppercase;
    font-size: .75rem;
    color: var(--color-text-muted);
    font-family: var(--font-mono);
  }
  &[class*='-html']::before {
    content: 'html';
  }
  &[class*='-css']::before {
    content: 'css';
  }
  &[class*='-js']::before {
    content: 'js';
  }
  &[class*='-bash']::before {
    content: 'bash';
  }
}

/* Icons */
.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: none;
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
