html {
  scrollbar-gutter: auto;
}

body {
  background: var(--background-body);
  color: var(--text-main);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    'Segoe UI Emoji',
    'Apple Color Emoji',
    'Noto Color Emoji',
    sans-serif;
  font-size: var(--font-size);
  line-height: 1.4;
  margin: 1.5rem auto;
  max-width: 960px;
  padding: 0 1rem;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}
