input[type="submit"],
input[type="button"],
input[type="reset"],
button,
a.button {
  appearance: none;
  background-color: var(--color-background-accent);
  border-radius: .25rem;
  border: 0;
  box-shadow: black var(--shadow-float);
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-family: inherit;
  font-size: .875rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: var(--transition-outline), var(--transition-color), var(--transition-transform);
  user-select: none;
  white-space: nowrap;

  &.neutral {
    background-color: var(--color-text-muted);
  }
  &.positive {
    background-color: var(--color-text-positive);
  }
  &.negative {
    background-color: var(--color-text-negative);
  }

  &:not(:disabled) {
    cursor: pointer;
  }
  &:hover:not(:disabled) {
    background-color: var(--color-accent);
    &.neutral {
      background-color: color-mix(in hsl, var(--color-text-muted) 90%, black);
    }
    &.positive {
      background-color: color-mix(in hsl, var(--color-text-positive) 90%, black);
    }
    &.negative {
      background-color: color-mix(in hsl, var(--color-text-negative) 90%, black);
    }
  }
  &:focus:not(:disabled), &:focus-within:not(:disabled), &:hover:not(:disabled) {
    box-shadow:
      color-mix(in hsl, var(--color-accent) 90%, black) var(--shadow-border),
      black var(--shadow-float);
    &.neutral {
      box-shadow:
        color-mix(in hsl, var(--color-text-muted) 90%, black) var(--shadow-border),
        black var(--shadow-float);
    }
    &.positive {
      box-shadow:
        color-mix(in hsl, var(--color-text-positive) 90%, black) var(--shadow-border),
        black var(--shadow-float);
    }
    &.negative {
      box-shadow:
        color-mix(in hsl, var(--color-text-negative) 90%, black) var(--shadow-border),
        black var(--shadow-float);
    }
  }
  &:focus:not(:disabled), &:focus-within:not(:disabled) {
    outline: 4px solid var(--color-outline);
    &.neutral {
      outline: 4px solid color-mix(in srgb, var(--color-text-muted) 35%, transparent);
    }
    &.positive {
      outline: 4px solid color-mix(in srgb, var(--color-text-positive) 35%, transparent);
    }
    &.negative {
      outline: 4px solid color-mix(in srgb, var(--color-text-negative) 35%, transparent);
    }
  }
  &:active:not(:disabled) {
    outline: 0;
    box-shadow:
      var(--color-background-accent) var(--shadow-border),
      var(--color-background-accent) var(--shadow-inset);
    &.neutral {
      box-shadow:
        color-mix(in hsl, var(--color-text-muted) 80%, black) var(--shadow-border),
        color-mix(in hsl, var(--color-text-muted) 80%, black) var(--shadow-inset);
    }
    &.positive {
      box-shadow:
        color-mix(in hsl, var(--color-text-positive) 80%, black) var(--shadow-border),
        color-mix(in hsl, var(--color-text-positive) 80%, black) var(--shadow-inset);
    }
    &.negative {
      box-shadow:
        color-mix(in hsl, var(--color-text-negative) 80%, black) var(--shadow-border),
        color-mix(in hsl, var(--color-text-negative) 80%, black) var(--shadow-inset);
    }
  }
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}
