.callout {
  display: block;
  position: relative;
  padding: 1.5rem 2rem;
  background-color: var(--color-bg-muted);
  border-left: .25rem solid var(--color-text-muted);
  border-radius: .25rem;

  &.accent {
    border-color: var(--color-accent);
    background-color: color-mix(in srgb, var(--color-accent) 40%, transparent);
    &[data-symbol]::before {
      background-color: var(--color-accent);
    }
  }
  &.positive {
    color: var(--color-positive);
    border-color: var(--color-positive);
    background-color: var(--color-bg-positive);
    &[data-symbol]::before {
      background-color: var(--color-positive);
    }
  }
  &.negative {
    color: var(--color-negative);
    border-color: var(--color-negative);
    background-color: var(--color-bg-negative);
    &[data-symbol]::before {
      background-color: var(--color-negative);
    }
  }

  &[data-symbol]::before {
    content: attr(data-symbol);
    position: absolute;
    display: block;
    height: 2rem;
    width: 2rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -.125rem;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text-inverted);
    font-weight: 700;
    background-color: var(--color-text-muted);
  }
}
