/* <fieldset>, <legend> */
fieldset {
  border-radius: .25rem;
  border: 1px solid var(--border);

  legend {
    padding: 0 .25rem;
  }
}

/* <label> */
label {
  display: inline-block;
  padding-bottom: 0.25rem;

  &:has(input), &[for] {
    cursor: pointer;
  }
}

/* <input>, <textarea>, <select> */
input, textarea, select {
  background-color: var(--background-base);
  box-shadow: var(--shadow-inset);
  font-family: inherit;
  transition: var(--transition-outline);
  border: 1px solid var(--background-page);

  &:hover {
    border-color: var(--accent);
  }
  &:focus, &:focus-within {
    border-color: var(--accent);
    outline: 3px solid var(--outline);
    box-shadow: none;
  }
}
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="color"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
textarea,
select {
  border-radius: .25rem;
  padding: .5rem .75rem;
  font-size: .875rem;
}
input[type="number"],
input[type="date"],
input[type="datetime-local"] {
  padding-right: .5rem;
}
input[type="color"] {
  padding: .25rem;
}
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
input[type="checkbox"] {
  border-radius: .25rem;
  position: relative;
  &:checked {
    color: var(--accent);
    &::after {
      border: 3px solid var(--accent);
      border-left: none;
      border-top: none;
      border-bottom-right-radius: 2px;
      box-shadow: var(--border) 1px 1px .125rem;
      content: '';
      height: .875rem;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -60%) rotate(45deg);
      width: .375rem;
    }
  }
}
input[type="radio"] {
  border-radius: 9999px;
}
