.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: none;
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;

  &.filled {
    fill: currentColor;
    stroke-width: 0;
  }

  &.sm {
    width: 1rem;
    height: 1rem;
  }
  &.lg {
    width: 2.5rem;
    height: 2.5rem;
  }
  &.xl {
    width: 4rem;
    height: 4rem;
  }

  &.stroke-1 {
    stroke-width: 1;
  }
  &.stroke-2 {
    stroke-width: 2;
  }
}
