.input {
  position: relative;

  & > input:not([type="button"]):not([type="reset"]):not([type="submit"]),
  & > textarea,
  & > select {
    /* Size */
    &.sm {
      font-size: .75rem;
  
      &:not([type="checkbox"]):not([type="radio"]) {
        padding: .5rem .75rem;
      }
      &[type="checkbox"], &[type="radio"] {
        width: 1rem;
        height: 1rem;
      }
    }
    &.lg {
      font-size: 1.125rem;
  
      &:not([type="checkbox"]):not([type="radio"]) {
        padding: 1rem 1.25rem;
      }
      &[type="checkbox"], &[type="radio"] {
        width: 1.625rem;
        height: 1.625rem;
      }
    }
  }

  /* Help text */
  & > .help {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--color-text-muted);
    padding: .625rem;
  }

  /* Affix icons */
  & > .icon {
    position: absolute;
    top: .625rem;
    width: 1.5rem;
    height: 1.5rem;
    fill: none;
    stroke: currentColor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;

    &.prefix {
      left: .5rem;
    }
    &.suffix {
      right: .5rem;
    }
  }
  &:has(.icon.prefix) > input:not([type="button"]):not([type="reset"]):not([type="submit"]),
  &:has(.icon.prefix) > select {
    padding-left: 2.5rem;
  }
  &:has(.icon.suffix) > input:not([type="button"]):not([type="reset"]):not([type="submit"]),
  &:has(.icon.suffix) > select {
    padding-right: 2.5rem;
  }
}


  /* &.ghost {
    color: var(--color-link);
    background-color: transparent;
    box-shadow: none;

    &:not(:disabled):not(.busy) {
      &:hover, &:focus, &:focus-within, &:active {
        color: var(--color-link-hover);
        background-color: transparent;
        box-shadow: none;
      }
    }
  }

  & > .icon {
    width: 1.5em;
    height: 1.5em;
    fill: none;
    stroke: currentColor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &.rounded-full:has(.icon:only-child) {
    padding: .75rem;
    border-radius: 9999px;
  }
}

.input-group {
  display: flex;
  gap: 1px;
  box-shadow: black var(--shadow-float);

  input:not([type="button"]),
  input:not([type="reset"]),
  input:not([type="submit"]),
  textarea,
  select {
    box-shadow: none;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  &:has(.rounded-full:first-child) {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }
  &:has(.rounded-full:last-child) {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }
} */
