input:not([type="button"]):not([type="reset"]):not([type="submit"]),
textarea,
select {
  /* Size */
  &.sm {
    font-size: .75rem;

    &:not([type="checkbox"]):not([type="radio"]) {
      padding: .5rem .75rem;
    }
    &[type="checkbox"], &[type="radio"] {
      width: 1rem;
      height: 1rem;
    }
  }
  &.lg {
    font-size: 1.125rem;

    &:not([type="checkbox"]):not([type="radio"]) {
      padding: 1rem 1.25rem;
    }
    &[type="checkbox"], &[type="radio"] {
      width: 1.625rem;
      height: 1.625rem;
    }
  }

  /* Pill */
  &.pill {
    border-radius: 9999px;
  }

  /* Ghost */
  &.ghost {
    background-color: transparent;
    box-shadow: none;

    &:not(:disabled):not(.busy) {
      &:hover, &:focus, &:focus-within, &:active {
        box-shadow: none;
      }
    }
  }
}

.input {
  position: relative;

  /* Help text */
  & > .help {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--color-text-muted);
    padding: .25rem;
  }

  /* Affix icons */
  & > .icon {
    position: absolute;
    top: .625rem;
    width: 1.5rem;
    height: 1.5rem;
    fill: none;
    stroke: currentColor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;

    &.prefix {
      left: .5rem;
    }
    &.suffix {
      right: .5rem;
    }
  }
  &:has(.icon.prefix) > input:not([type="button"]):not([type="reset"]):not([type="submit"]),
  &:has(.icon.prefix) > select {
    padding-left: 2.5rem;
  }
  &:has(.icon.suffix) > input:not([type="button"]):not([type="reset"]):not([type="submit"]),
  &:has(.icon.suffix) > select {
    padding-right: 2.5rem;
  }
}

.input-group {
  display: flex;
  gap: 1px;

  input:not([type="button"]),
  input:not([type="reset"]),
  input:not([type="submit"]),
  textarea,
  select {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  &:has(.pill:first-child) {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }
  &:has(.pill:last-child) {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }
}
