.loader {
  position: relative;
  height: 2rem;
  width: 2rem;
  border: .25rem solid color-mix(in srgb, var(--color-accent) 10%, transparent);
  border-radius: 9999px;
  border-top-color: var(--color-accent);
  animation: rotate 1s 0s infinite linear normal;

  &.neutral {
    border-color: var(--color-bg-muted);
    border-top-color: var(--color-neutral);
  }
  &.positive {
    border-color: var(--color-bg-positive);
    border-top-color: var(--color-positive);
  }
  &.negative {
    border-color: var(--color-bg-negative);
    border-top-color: var(--color-negative);
  }

  &.double::after {
    content: '';
    position: absolute;
    inset: 1rem;
    display: block;
    border: inherit;
    border-radius: inherit;
    border-top-color: inherit;
    animation: rotate .5s 0s infinite linear reverse;
  }
}
