.tab-group {
  & > nav {
    background-color: var(--color-bg-base);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: .75rem .75rem 0 .75rem;
    
    & > ol {
      gap: .75rem;
      align-items: center;
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
  
      & > li {
        padding: .5rem .75rem;
        cursor: default;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        border-top: 2px solid transparent;
        opacity: .7;
        transition: var(--transition-color), var(--transition-opacity);
        user-select: none;
  
        &:not(.active):not(.disabled) {
          cursor: pointer;
  
          &:hover {
            opacity: 1;
            border-top-color: var(--color-neutral);
          }
        }
  
        &.active {
          opacity: 1;
          border-top-color: var(--color-accent);
          background-color: var(--color-bg-page);
        }

        &.disabled {
          opacity: .4;
          cursor: not-allowed;
        }
      }
    }
  }

  & > section {
    display: none;
    padding: 1rem .75rem 0 .75rem;

    &.active {
      display: block;
    }
  }
}
