/* <h1>, ..., <h6> */
h1 {
  font-size: 2.75rem;
  font-weight: 500;
}
h2 {
  font-size: 2.25rem;
  font-weight: 500;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
}
h4 {
  font-size: 1.75rem;
  font-weight: 500;
}
h5 {
  font-size: 1.25rem;
  font-weight: 600;
}
h6 {
  font-size: 1rem;
  font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1.25rem 0;
  color: var(--text-emphasized);
}

/* <a> */
a {
  text-decoration: none;
  color: color-mix(in hsl, var(--accent) 70%, black);
  text-underline-offset: 0;
  transition: var(--transition-color), var(--transition-underline);

  &:hover {
    color: color-mix(in hsl, var(--accent) 90%, black);
    text-decoration: underline;
    text-underline-offset: 10%;
  }
}

/* <blockquote>, <cite>, <q> */
blockquote, q {
  font-style: italic;
}
blockquote {
  border-left: 6px solid var(--border);
  margin: 1rem 0;
  padding: .75rem 1.5rem .5rem 1.5rem;
  
  p:first-child {
    margin-top: 0;
  }

  & > cite, & > footer {
    border: 0;
    font-style: normal;

    &::before {
      content: '—';
      display: inline-block;
      margin-right: .25rem;
    }
  }
}

/* <dl>, <dt>, <dd> */
dl dt {
  font-weight: 600;
}
dl dd {
  margin: 0 0 .5rem 0;
}

/* <ul>, <ol> */
ul, ol {
  padding-left: 2rem;
}

/* <strong> */
strong {
  color: var(--text-emphasized);
}

/* <em> */
em {
  font-weight: 500;
}

/* <u> */
u {
  text-decoration: color-mix(in srgb, var(--text-negative) 85%, transparent) wavy underline;
  text-underline-offset: 5%;
  text-decoration-skip-ink: none;
}

/* <ins>, <del> */
ins {
  color: var(--text-positive);
  background-color: var(--text-positive-background);
  text-decoration: none;
  padding: .125rem .25rem;
  border-radius: .125rem;
}
del {
  text-decoration: line-through;
  color: var(--text-negative);
  background-color: var(--text-negative-background);
  padding: .125rem .25rem;
  border-radius: .125rem;
}

/* <abbr> */
abbr {
  text-underline-offset: 15%;
}

/* <mark> */
mark {
  background-color: color-mix(in srgb, var(--accent) 85%, transparent);
  padding: 0 .125rem .125rem .125rem;
  border-radius: .125rem;
}

/* <var> */
var {
  font-weight: 500;
}

/* <code> */
code {
  background: var(--border);
  border-radius: .25rem;
  font-family: var(--font-mono);
  font-weight: 400;
  font-size: .875em;
  padding: .125em .25em;
}

/* <samp> */
samp {
  font-size: .875rem;
  font-family: var(--font-mono);
  font-weight: 400;
  padding: .125rem .5rem;
}

/* Selected text */
::selection {
  background-color: var(--selection);
  color: var(--text-emphasized);
}
