h1 {
  font-size: 2.75rem;
  font-weight: 300;
}
h2 {
  font-size: 2.25rem;
  font-weight: 500;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
}
h4 {
  font-size: 1.75rem;
  font-weight: 500;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: .5rem 0 1.25rem 0;
}

h1, h2, h3, h4, h5, h6, strong {
  color: var(--text-bright);
}
