body {
  background: var(--color-bg-page);
  color: var(--color-text-base);
  font-family: var(--font-sans);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin: 1.5rem auto;
  max-width: 960px;
  padding: 0 1rem;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}
