/* <hr> */
hr {
  border: none;
  height: 2px;
  background-color: var(--border);
  margin: 1rem 0;
}

/* <table> */
table {
  border-collapse: collapse;
  margin-bottom: 10px;
  table-layout: fixed;
  width: 100%;
}
table caption {
  text-align: left;
  color: var(--text-muted);
}
td, th {
  padding: .75rem;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}
thead {
  border-bottom: 1px solid var(--border);
}
tfoot {
  border-top: 1px solid var(--border);
}
thead th, tfoot th {
  font-weight: 600;
}
tbody tr:nth-child(even) {
  background-color: var(--background-base);
}
tbody tr:hover td {
  background-color: var(--border);
}

/* <img> */
img {
  max-width: 100%;
}

/* <figure> */
figure {
  margin: 0;
}

/* <meter> */
meter {
  appearance: meter;
  background: var(--background-base);
  border-radius: .25rem;
  border: 0;
  box-shadow: var(--shadow) var(--shadow-inset);
  display: block;
  height: 1rem;
  padding: 1px 0;
  width: 100%;

  &:where(::-webkit-meter-bar) {
    /* TODO */
    border-radius: 0;
  }
  &::-webkit-meter-inner-element {
    display: block;
  }
  &::-webkit-meter-bar,
  &::-moz-meter-bar {
    background: var(--accent);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.30) 0 1px 1px 0;
  }
  &::-webkit-meter-optimum-value,
  &:-moz-meter-optimum::-moz-meter-bar {
    background: var(--text-positive);
  }
  &::-webkit-meter-suboptimum-value,
  &:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--accent);
  }
  &::-webkit-meter-even-less-good-value,
  &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--text-negative);
  }
}

/* <progress> */
progress {
  appearance: none;
  background: var(--background-base);
  border-radius: .5rem;
  border: 0;
  box-shadow: var(--shadow) var(--shadow-inset);
  color: var(--accent);
  height: .5rem;
  padding: 1px 0;
  width: 100%;

  &::-webkit-progress-bar {
    background: transparent;
    border-radius: inherit;
  }

  &::-webkit-progress-value,
  &::-moz-progress-bar {
    background: var(--accent);
    border-radius: inherit;
  }

  &:indeterminate {
    animation: background-slide-x 1.75s linear infinite;
    background: var(--background-base) linear-gradient(to right, var(--accent) 20%, var(--background-base) 20%) top left / 150% 150% no-repeat;

    &::-moz-progress-bar {
      background: transparent;
    }
  }
}

/* <iframe> */
iframe {
  border: 1px solid var(--border);
}
