:root {
  /* Colors */
  --accent: #e5aa70;
  --background-base: #f4f4f4;
  --background-page: #ffffff;
  --border: #d5d5d5;
  --button-base: #d0cfcf;
  --button-hover: #9b9b9b;
  --code: #000000;
  --focus: #0096bfab;
  --highlight: #ffff00;
  --label: #1d1d1d;
  --links: #0076d1;
  --placeholder: #949494;
  --selection: #9e9e9e;
  --text-base: #464646;
  --text-emphasized: #151515;
  --text-muted: #70777f;
  --text-positive: #238636;
  --text-negative: #da3633;

  --outline: color-mix(in srgb, var(--accent) 25%, transparent);
  --text-positive-background: color-mix(in srgb, var(--text-positive) 15%, transparent);
  --text-negative-background: color-mix(in srgb, var(--text-negative) 15%, transparent);

  /* Dimensions */
  --font-size: 16px;

  /* Transitions */
  --transition-color:
      color .1s ease,
      border-color .1s ease,
      outline-color .1s ease,
      background-color .1s ease;
  --transition-outline: outline-width .1s ease;
  --transition-underline: text-underline-offset .1s ease;

  /* Fonts */
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  --font-mono: "SF Mono", "Segoe UI Mono", "Fira Code", "Fira Mono", "Roboto Mono", Menlo, Courier, monospace;

  /* Misc */
  --shadow-inset: var(--border) 2px 2px .125rem 0 inset;
}

/* Animations */
@keyframes background-slide-x {
  from { background-position:  200% 0; }
  to   { background-position: -200% 0; }
}
