/* Border */
.rounded-full {
  border-radius: 9999px;
}

/* Dimensions */
.w-32 {
  width: 8rem;
}
.h-32 {
  height: 8rem;
}

/* Display */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

/* Spacing */
.gap-2 {
  gap: .5rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-8 {
  gap: 2rem;
}

/* Alignment */
.items-center {
  align-items: center;
}
